* {
  color: #000;
}
.aside {
  height: 2.5rem;
  margin-top: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
  vertical-align: middle;
  @include Legion {
    position: fixed;
    height: 65vh;
    width: 7.4%;
    left: -0.2rem;
    bottom: 7.5rem;
    overflow-y: auto;
    white-space: normal;
    display: flex;
    flex-direction: column;
  }
  @include bigScreen {
    left: 19%;
    width: 5%;
    height: 70vh;
  }
}
.btn-style {
  background: $color-primary;
  color: $color-primary-m;
}
.active-county-color {
  background-color: $color-primary-m;
  color: $color-primary;
}
.hover-btn:hover {
  background: $color-primary-m;
  color: $color-primary;
}
.active-btn:active {
  transform: scale(1.05);
}
.header {
  background-color: $color-primary;
}
.header-link {
  background-color: $color-primary;
  color: $color-primary-m;
  border: 1px solid #b7d2fa;
  box-shadow: 3px 3px 1px rgba(102, 102, 102, 0.49);
}
.header-link:active {
  box-shadow: 4px 4px 2px rgba(102, 102, 102, 0.49);
  transform: scale(0.97);
}
.menu {
  border: 1px solid #000;
  position: fixed;
  background-color: #b7d2fa;
  transform: translateX(-20rem);
  transition: transform 0.5s;
  top: 12.5rem;
  z-index: 10;
  @include bigScreen {
    transform: translateX(0rem);
    transform: translateY(-100rem);
    top: 8.8rem;
    left: 14%;
  }
}
.menu-link {
  color: $color-primary;
  background-color: $color-primary-m;
  border: 1px solid $color-primary-m;
  border-bottom: 1px solid #000;
}
.menu-link-hover:hover {
  transition: transform 0.5s;
  background-color: #fab7b7ad;
  color: $color-primary-m;
}
.show {
  transition: transform 0.5s;
  transform: translateX(0rem);
}
.menu-county {
  position: fixed;
  display: none;
  border: 1px solid #000;
  transform: translate(5.4rem, -7.2rem);
  background-color: #b7d2fa;
  transition: transform 0.5s;
  height: 40vh;
  overflow-y: scroll;
}
.menu-county-show {
  display: block;
}
.menu-area {
  position: fixed;
  display: none;
  z-index: 6;
  transform: translate(9.9rem, -7.2rem);
  border: 1px solid #000;
  background-color: #b7d2fa;
  transition: transform 0.5s;
  width: 6.5rem;
  height: 55vh;
  overflow-y: scroll;
}
.menu-area-show {
  display: block;
}
.menu-collectArea {
  position: fixed;
  display: none;
  z-index: 6;
  transform: translate(5.8rem, -4.9rem);
  border: 1px solid #000;
  background-color: #b7d2fa;
  transition: transform 0.5s;
  width: 10rem;
  height: 45vh;
  overflow-y: scroll;
}
.menu-collectArea-show {
  display: block;
}
.border-bottom-m {
  border-bottom: 1px solid #000;
}
.btnActive {
  background: #fab7b7ad !important;
  color: $color-primary-m !important;
}
.collectAreaCheckbox {
  width: 1.5rem;
  height: 1.5rem;
}