* {
  color: #000;
}
.btn-style {
  background: $color-primary;
  color: $color-primary-m;
}
.active-county-color {
  background-color: $color-primary-m;
  color: $color-primary;
}
.hover-btn:hover {
  background: $color-primary-m;
  color: $color-primary;
}
.active-btn:active {
  transform: scale(1.05);
}
.header {
  background-color: $color-primary;
}
.openMenuArrow {
  position: fixed;
  top: 40%;
  right: -1.7rem;
}
.menu {
  border: 1px solid #000;
  position: fixed;
  background-color: #b7d2fa;
  transform: translateX(-7.8rem);
  // transform: translateX(-5rem);
  transition: transform 0.5s;
  top: 10.5rem;
  z-index: 10;
  @include bigScreen {
    transform: translateX(0rem);
    top: 8.8rem;
    left: 20%;
  }
}
.menu-link {
  color: $color-primary;
  background-color: $color-primary-m;
  border: 1px solid $color-primary-m;
  border-bottom: 1px solid #000;
}
.menu-link-hover:hover {
  transition: transform 0.5s;
  background-color: #fab7b7ad;
  color: $color-primary-m;
}
.show {
  transition: transform 0.5s;
  transform: translateX(0rem);
}
.menu-county {
  position: fixed;
  display: none;
  border: 1px solid #000;
  transform: translate(5.4rem, -2.3rem);
  background-color: #b7d2fa;
  transition: transform 0.5s;
  height: 40vh;
  overflow-y: scroll;
  //! 用電腦看手機版畫面正常，但部署要開啟下面這段，手機觀看才不會跑版 (12 pro)
  @media (max-width: 576px) {
    transform: translate(6.5rem, -2.4rem);
  }
}
.menu-item-show {
  display: block !important;
}
.menu-area {
  position: fixed;
  display: none;
  z-index: 6;
  transform: translate(9.9rem, -2.4rem);
  border: 1px solid #000;
  background-color: #b7d2fa;
  transition: transform 0.5s;
  width: 9rem;
  height: 40vh;
  overflow-y: scroll;
  //! 用電腦看手機版畫面正常，但部署要開啟下面這段，手機觀看才不會跑版 (12 pro)
  @media (max-width: 576px) {
    transform: translate(11rem, -2.4rem);
    width: 9rem;
  }
}
.menu-area-show {
  display: block;
}
.menu-collectArea {
  position: fixed;
  display: none;
  z-index: 6;
  transform: translate(5.8rem, -4.9rem);
  border: 1px solid #000;
  background-color: #b7d2fa;
  transition: transform 0.5s;
  width: 10rem;
  height: 40vh;
  overflow-y: scroll;
  //! 用電腦看手機版畫面正常，但部署要開啟下面這段，手機觀看才不會跑版 (12 pro)
  @media (max-width: 576px) {
    transform: translate(7.7rem, -5.2rem);
    width: 13rem;
  }
}
.menu-collectArea-show {
  display: block;
}
.border-bottom-m {
  border-bottom: 1px solid #000;
}
.btnActive {
  background: #fab7b7ad !important;
  color: $color-primary-m !important;
}
.collectAreaCheckbox {
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes goToAreaImgToggle {
  50% {
    background-image: url("https://github.com/MizuYang/environmentTools/blob/main/src/assets/image/icons/weather-icons/GO2.png?raw=true");
  }
}
.goToAreaImgToggle {
  background-image: url("https://github.com/MizuYang/environmentTools/blob/main/src/assets/image/icons/weather-icons/GO.png?raw=true");
  background-size: cover;
  width: 35px;
  height: 35px;
  animation: goToAreaImgToggle 1.7s step-end infinite;
}

@keyframes mouseClick {
  100% {
    transform: rotate(-20deg);
  }
}
.mouseClick {
  background-image: url("https://github.com/MizuYang/environmentTools/blob/main/src/assets/image/icons/weather-icons/456.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
  top: 1.6rem;
  left: 3rem;
  height: 35px;
  width: 35px;
  animation: mouseClick .4s;
  animation-iteration-count: 1;
}
@keyframes tipClickMeColor {
  50% {
    background-color: rgba(255, 0, 0, 0.772);
  }
}
.tipClickMeColor {
  animation: tipClickMeColor .95s;
  animation-timing-function: step-start;
  animation-iteration-count: 2;
}
